{% extends "base.html" %}

{% block content %}

	<!-- The div where we will inject our map -->
	<div id="map"></div>

<div class="container">
	<p><h3>{{title}}</h3></p>
			
		<div class="chart" id="scattergraph">
			<script>
				var graphs = {{plot1 | safe}};
				Plotly.plot('scattergraph',graphs,{});
			</script>
		</div>

</div>


<div class="container">

	<ul class="nav nav-tabs" id="pills-tab" role="tablist">
		{% for name, attr in my_dict.items() %}
	
			{% if loop.index == 1 %}
				<li class="nav-item">
					<a class="nav-link active" id="{{ attr }}" data-toggle="pill" href="#{{ attr }}_c" role="tab"
					   aria-controls="{{ attr }}_c" aria-selected="true">{{ name }}
					</a>		

				</li>
	
			{% else %}
				<li class="nav-item">
					<a class="nav-link" id="{{ attr }}" data-toggle="pill" href="#{{ attr }}_c" role="tab"
					   aria-controls="{{ attr }}_c" aria-selected="false">{{ name }}
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

</div>


<div class="container">

	<div class="tab-content" id="pills-tabContent">

			{% for attr in my_dict.values() %}
		
				{% if loop.index == 1 %}
		
					<div class="tab-pane fade show active" id="{{ attr }}_c" role="tabpanel"
						 aria-labelledby="{{ attr }}">
						 <div class="container">

							<div class="chart" id="bargraph">
								<script>
									var graphs = {{plot2 | safe}};
									Plotly.plot('bargraph',graphs,{});
								</script>
							</div>
							
						 </div>
						
					</div>
		
				{% else %}
		
					<div class="tab-pane fade" id="{{ attr }}_c" role="tabpanel" aria-labelledby="{{ attr }}">
						
							<div class="container">

									<p><h4>Census Data</h4></p>
									<table class="table table-striped table-hover">
										<thead >
											
										<tr>
											<th scope="col">Index</th>
											<th scope="col">MSA</th>
											<th scope="col">Year</th>
											<th scope="col">Value</th>
										</tr>
										</thead>
										<tbody>
											{% for n in census_data %}
										<tr>
											<td>{{n.Census_index}}</td>
											<td>{{n.MSA}}</td>
											<td>{{n.Year}}</td>
											<td>{{n.Index_Value}}</td>
										</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>						
						
					</div>
		
				{% endif %}
		
			{% endfor %}
		
		</div>
		
</div>

<script>var mapURL = "{{ mapURL }}" </script>
<script type="text/javascript" src="{{ url_for('static', filename='js/graphs.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plots.js') }}"></script>


{% endblock %}