{% extends "base.html" %}

{% block content %}

<p><h3>homelessness</h3></p>
<hr>
<hr>

<p><img class="aligncenter wp-image-22289" src="https://wp.zillowstatic.com/3/inflection-72aee4-1024x1024.png" alt="" width="664" height="664"></p>

<div class="container">

        <div class="infographic-shortcode half left">
                <div class="iframe-responsive"><iframe src="https://public.tableau.com/views/homelessness2018/affordability?:embed=y&amp;:display_count=yes&amp;:showVizHome=no#1" style="width: 105%; height: 655px;" height="655px"></iframe></div>
                </div>

</div>
	

{% endblock %}

