{% extends "base.html" %}

{% block content %}

<div class="container">
	<p><h3>{{title}}</h3></p>
			
		<div class="chart" id="scattergraph">
			<script>
				var graphs = {{plot1 | safe}};
				Plotly.plot('scattergraph',graphs,{});
			</script>
		</div>

</div>

<div class="container">

	<p><h2>{{dataset.Description}}</h2></p>
	<table class="table table-striped table-hover">
		<thead >
		<tr>
			<th scope="col">Date</th>
			<th scope="col">Value</th>
			<th scope="col">MSA</th>
			<th scope="col">Code</th>
			<th scope="col">Description</th>
		</tr>
		</thead>
		<tbody>
			{% for n in dataset %}
		<tr>
			<td>{{n.Date}}</td>
			<td>{{n.Value}}</td>
			<td>{{n.MSA}}</td>
			<td>{{n.Zillow_code}}</td>
			<td>{{n.Description}}</td>
		</tr>
			{% endfor %}
		</tbody>
	</table>
</div>


{% endblock %}